{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "simple-import-sort",
    "import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/no-empty-function": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "no-console": "error",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [["^\\u0000"],["^[^.]"], ["^~?\\w"], ["^\\."]]
      }
    ],
    "sort-imports": "off",
    "prettier/prettier": "error",
    "import/first": "off",
    "import/newline-after-import": "off",
    "import/no-duplicates": "off",
    "import/named": 0
  },
  "overrides": [
    {
      "files": "*.js",
      "rules": {
        "import/order": ["error", { "newlines-between": "always" }],
        "simple-import-sort/sort": "off"
      }
    },
    {
      "files": ["*.{config,d,test}.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
